.bg-image-container {
  background-color: #5C1E1E; /* Borgoña profundo */
  background-image: url('../../assets/images/fondo-login.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(44, 17, 17, 0.6); /* sombra teatral */
  z-index: 1;
}

.login-card {
  background-color: #F5EBDD; /* Marfil claro */
  color: #2B1D1D; /* Texto oscuro */
  max-width: 400px;
  width: 100%;
  z-index: 2;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(60, 60, 60, 0.7);
}

h2, h4 {
  color: #8B1A1A; /* Dorado clásico */
}

a {
  color: #8B1A1A; /* Rojo oscuro brillante */
}

.btn-primary {
  background-color: #8B1A1A;
  border: none;
}

.btn-primary:hover {
  background-color: #A52A2A;
}
