.crear-categoria-container {
  background-color: #F5EBDD;
  color: #2B1D1D;
  max-width: 500px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(60, 60, 60, 0.3);
}

input.ng-invalid.ng-touched {
  border-color: #dc3545;
}

input:focus {
  box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25);
}

h2 {
  color: #D4AF37;
  text-align: center;
  font-weight: bold;
  margin-bottom: 24px;
}

button[type="submit"] {
  background-color: #8B1A1A;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #A52A2A;
}

/* Botón flotante de volver */
.boton-flotante.back-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 10;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #8B1A1A;
  color: white;
  border: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.boton-flotante.back-button:hover {
  background-color: #A52A2A;
}
